<ul class="subscription"><li><a href="{{ "index.xml" | relURL }}" rel="subscribe-rss">RSS</a></li></ul>
<form action="https://www.google.com/search" method="get"><fieldset role="search"><input type="hidden" name="sitesearch" value="wldandan.github.io"><input class="search" type="text" name="q" placeholder="Search"></fieldset></form>
<ul class="main-navigation"><li><a href="{{ "/" | relURL }}"><span>01</span>文章</a></li><li><a href="{{ "/blog/archives/" | relURL }}"><span>02</span>归档</a></li><li><a href="{{ "/about/" | relURL }}"><span>03</span>关于我</a></li></ul>
